{% extends "mptt_tree_view/jquery_sortable_list.html" %}
{% load mptt_tags %}
{% load static %}
{% load gen_tag_attr %}

{% block js %}
    {{ block.super }}
    {% include "tagging_app/tagging_head_inc.html" %}
    <script src="{% static 'obj_sys/js/obj_sys.js' %}" ></script>
{% endblock %}

{% block item_box %}
    <a href="{{request.base_url}}?root={{node.pk}}" class="tagged-item no-drag"
       {{ node|gen_tag_attr }} >{{ node }}
        {%for tag in node.tags%}
            {{tag.name}}
        {%endfor%}
    </a>
{% endblock %}

