{% extends "mptt_tree_view/jquery_sortable_list.html" %}
{% load mptt_tags %}
{% load static %}

{% block js %}
    {{ block.super }}
    {% include "tagging_app/tagging_head_inc.html" %}
    <!--<script src="{% static 'obj_sys/js/tagator/fm.tagator.jquery.js' %}" ></script>-->
    <script src="{% static 'obj_sys/js/obj_sys.js' %}" ></script>
{% endblock %}

{% block item_box %}
    <a href="{{request.base_url}}?root={{node.pk}}" class="tagged-item"
       objectId="{{ node.pk }}" contentType="{{ content_type.pk }}"
       tags="{%for tag in node.tags%}{{tag.name}},{%endfor%}">{{ node }}
        {%for tag in node.tags%}
            {{tag.name}}
        {%endfor%}
    </a>
{% endblock %}

